@media screen and (max-width: 576px) {
    /* Navigation Bar */
    .menu-items {
        display:none;
    }
    .mobile-menu-bar {
        display: block;
    }

    /* hero area style */
    .hero-area {
        flex-direction: column;
    }
    .text-area {
        height: 400px;
    }
    .heading-text h1 {
        font-size: 2.5rem;
        line-height: 40px;
    }
    .join-club {
        font-size: 0;
        margin-bottom: 10px;
    }
    .shape-text-style {
        font-size: 4rem;
    }
    .join-club::before {
        content: "Join Now!";
        font-size: 16px;
    }

    .free-videos {
        font-size: 1rem;
    }
    

    /* Change your Habits */

    .habits-photo-cards{
        grid-template-columns: 1fr;
    }

    .habits-title-area h1 {
        font-size: 1.5rem;
    }

    /* Run an Extra Mile Easily */
    .extra-mile {
        grid-template-columns: 1fr;
    }

    .extra-mile-pc {
        display: none;
    }

    .extra-mile-mobile {
        display: block;
        width: 100%;
    }
    .extra-mile-btn {
        width: 100%;
    }

    /* BMI Calculator */
    .bmi-calculation-area {
        flex-direction: column;
    }
    .bmi-calculator {
        width: 100%;
    }
    #bmi-inputs > input, #opt1, #opt2 {
        font-size: 0.6rem;
    }

    /* Meet Our Team */
    .our-team-gallery {
        grid-template-columns: 1fr;
    }
    .img-container img {
        height: 300px;
        width: 100%;
    }
}